.benefits__list {
    display: flex;
    column-gap: 30px;
}

.benefits__item {
    flex-basis: calc((100% - 90px) / 4);
}

.benefits__img {
    @extend %align;
    width: 270px;
    height: 120px;
    background: var(--background-color-lighter);
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits__title {
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.benefits__text {
    @include font(14px, 400, 1.7, 0.03em);
}